@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --first-color: hsl(354, 78%, 60%);
  --btn-color: hsl(hsl(354, 100%, 60%));
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);
  --body-font: 'Roboto', sans-serif;


/******************************** size of rems ********************************/

    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

/******************************** End ********************************/


/******************************** Font varibles ********************************/

  --font-medium: 500;
  --font-bold: 700;


/******************************** End ********************************/


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font) ;
    background-color: var(--body-color);
    color: var(--text-color);
}

body.dark{
    --first-color: hsl(182, 53%, 74%);
    --btn-color: hsl(183, 100%, 79%);
    --button-color: hsl(182, 53%, 74%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
}

header{
  width: 100%;
  position: fixed;
  z-index: 100;
}

.grid{
    display: grid;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

img{
    max-width: 100%;
    display: block;
}

a{
    outline: none;
    text-decoration: none;
    color: var(--text-color);
}

.a-btn-navbar{
    color: var(--title-color);
}
.a-btn-footer{
  
}

.a-btn-footer:focus,
.a-btn-footer:hover,
.a-btn-navbar:focus,
.a-btn-navbar:hover
{   

    padding: 2px 12px;
    border-radius: 10px;
    color: var(--container-color);
    border-bottom: 30pxpx solid;
    background: var(--first-color);
}

.a-btn-footer:active,
.a-btn-navbar:active
{   
    color: var(--btn-color);
}

.flex{
    display: flex;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
    color: var(--title-color);
    transition: .4s;
    z-index: 100;
    height: 3.5rem;
}

.navbar-order{
    display: flex;
}

.navbar.scroll-bg{
    background-color: var(--body-color);
    z-index: 10;
}

.nav-logo{
    width: 48px;
    height: 48px;
    fill: var(--first-color);
}

.nav__logo-store{
    font-weight: var(--font-bold);
    color: var(--title-color);
    letter-spacing: 1px;
    display: inline-flex;
    justify-content: left;
    align-items: center;
    column-gap: 0.25rem;
}

.icons-wrapper{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.bx-theme{
    font-size: 1.25rem;
    cursor: pointer;
}

.main{
    padding: 1.5rem;
    overflow: hidden;
}

h2{
    color: var(--title-color);
}

ul {
    list-style: none;
    color: var(--text-color);
}

.menu--desktop-container{
    margin-left: 1rem;
    display: none;
    align-items: center;
}
.menu--desktop-items{
    text-transform: initial;
    margin: 0 1rem;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    transition: .3s;
}

.menu--desktop:hover{
    color: var(--first-color);
}

.nav-menu{
    background-color: var(--body-color);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    transition: left .5s linear;
}

.nav-item{
    list-style: none;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--text-color);
}

.nav-menu.hide{
    left: -100%;
}

.menu-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.cart-container{
    background-color: rgba(109, 109, 109, 0.737);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    transition: left .3s linear;
    padding: 2.5rem 1.5rem 1rem 1.5rem;
}

.cart-container.hide{
    left: -100%;
}

.cart{
    background-color: var(--container-color);
    width: 100%;
    height: 100%;
    max-width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -4px 5px 10px rgb(147 147 147);
    padding: 2.5rem 1.5rem 1rem 1.5rem;
    z-index: 99999;
}

.cart-close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.cart-shop{
    position: relative;
}

.cart-counter{
    padding: 0.25rem;
    background-color: var(--title-color);
    color: var(--body-color);
    border-radius: 50%;
    width: .9rem;
    height: .9rem;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    right: -7px;
}

.cart-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    gap: 2rem;
}

.cart-content-out{
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.cart-bottom{
    width: 100%;
    justify-content: space-between;
}

.cart-bottom.hide{
    display: none;
}

.cart-checkout{
    position: relative;
    justify-content: right;
    top: -6rem;
}

.cart-chekout-btn{
    position: absolute;
    top: 4rem;
    display: inline-block;
    background-color: var(--button-color);
    color: var(--container-color);
    padding: 1.25rem 3rem;
    border-radius: 10px;
    font-weight: 600;
    transition: .3s;
    top: 6rem;
}

.main-item{
    position: relative;
    row-gap: 2.5rem;
}

.img-main{
    background-color: var(--first-color);
    width: 19.5rem;
    height: 25rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-self: flex-end;
    transform: translateX(1.5rem);
}

.home-auto{
    width: auto;
}

.title{
    font-size: 2rem;
    font-weight: bold;
    color: var(--title-color);
}

.titlecart{
    text-align: center;
    font-size: 1.8rem;
    color: var(--title-color);
}

.main-container{
    margin-top: 2rem;
    padding-left: 5%;
    width: 90%;
    position: relative;
    row-gap: 2.5rem;
    z-index: -1;
}

.bold{
    font-weight: bold;
}

.title-container{
    margin-bottom: 2rem;
}

.description{
    margin-bottom: 1.5rem;
}

.price{
    color: var(--first-color);
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.btn{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    transition: .3s;
    cursor: pointer;
}

.btn-grey{
    padding: 1rem 1.5rem;
    background-color: hsl(0, 0%, 75%);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.btn-black{
    padding: 1.25rem 2rem;
    background-color: var(--button-color);
    font-weight: var(--font-medium);
    box-shadow: 0 12px 26px hsl(0deg 0%, 10% / 20%);
    font-size: .938rem;
    color: var(--card-color);
    font-style: bold;
    font-family: var(--body-font);
    position:relative;
    right: .3rem;
    
}


.p-title{
    color: var(--title-color);
    margin: .75rem auto;
}

.p-subtitle{
    color: var(--text-color);
}

.products-header{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 2rem 2rem;
    position: relative;
    align-items: center;
    text-align: center;
}

.product-1{
    position: relative;
    cursor: pointer;
}

.product-1::after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    border: 1px solid grey;
    right: 0;
    top: 0;
}

.product-2{
    position: relative;
    cursor: pointer;
}

.product-2::after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    border: 1px solid grey;
    right: 0;
    top: 0;
}

.product-3{
    position: relative;
    cursor: pointer;
}

.product-3::after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    border: 1px solid grey;
    right: 0;
    top: 0;
}

.product-4{
    cursor: pointer;
}

.footerbg{
    background-color: var(--card-color)
}

.footer{
    display: flex;
    padding: 3rem 0;
    flex-direction: column;
}

.f-item-container{
    margin: 1.5rem 0;
    align-self: center;
    text-align: center;
}


.f-title{
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: var(--title-color);
    font-weight: 500;
}


.f-item-rights{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 2rem;
}

.products-body{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    position: relative;
    background-color: var(--body-color);
}

.img-p{
    width: 90%;
    margin: .5rem auto;
}

.btn-p{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    bottom: -1.3rem;
    right: .5rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 12px hsla(206, 4%, 4%, .2);
}

.btn-p:hover{
    background-color: var(--first-color);
    cursor: pointer;
    color: var(--body-color);
    font-weight: 500;
    transition: .5s linear;
}

.product-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-color);
    width: 80%;
    position: relative;
    border-radius: .5rem .5rem 0 0;
}

.products-footer-title{
    margin-top: 1rem;
    gap: .5rem;
    position: relative;
}

.products-footer-title-t{
    margin-left: -2rem;
    font-size: 1.3rem;
    color: var(--title-color);
    font-weight: bold;
}

.products-footer-title-s{
    font-size: .6rem;
    margin-top: .5rem;
    margin-left: -.3rem;
}

.products-product-name{
    margin-left: -2rem;
    color: var(--title-color);
}

.products-footer{
    padding-bottom: 1rem;
    background-color: var(--body-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-bottom: 2rem;
    box-shadow: 0 1px 1px hsla(206, 4%, 4%, .2);
    border-radius: 0 0 .5rem .5rem;
}

.product-preview{
    display: flex;
}

.product-preview img{
    width: 8rem;
    height: 8rem;
}

@media screen and (min-width: 767px){

    .footerbg{
        background-color: var(--card-color)
    }

    .footer{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 60%;
    }
    
    .f-item-container{
        margin: 1.5rem 0;
    }

    .f-item-rights{
        grid-column: 2 / 4;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin-top: 4rem;
        text-align: center;
    }

    .menu{
        display: none;
    }

    .nav-menu{
        width: 70%;
        flex-direction: row;
        column-gap: 2.5rem;
        align-items: center;
        display: active;
    }

    .menu--desktop-container{
        display: flex !important;
    }


    .navbar{
        margin: auto;
        height: 5rem;
        max-width: 70%;
        min-width: 868px;
    }

    .home{
        width: 70%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
    }

    .img-main{
        width: 30rem;
        height: 42rem;
    }

    .main-container{
        align-items: grid-end;
        grid-row: 1;
        padding-top: 10rem;
    }
    
    .products-body{
        margin: 2rem auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
        align-items: center;
        position: relative;
        background-color: var(--body-color);
    }

    .products-header{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        margin: 10rem auto 4rem auto;
        position: relative;
        align-items: center;
        text-align: center;
        width: 60%;
    }
    
    .product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto 8rem;
        flex-wrap: wrap;
    }

    .btn-p{
        width: 3rem;
        height: 3rem;
    }

    .products-footer-title{
        gap: 1rem;
    }
    
    .products-footer-title-t{
        margin-left: -6rem;
        font-size: 1.6rem;
    }
    
    .products-footer-title-s{
        font-size: 1rem;
        margin-top: .3rem;
        margin-left: -.7rem;
    }
    
    .products-product-name{
        font-size: 1.3rem;
        margin-left: -8rem;
        color: var(--title-color);
    }
}